<!-- <!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
</head>
<body>
    <h1>Email Sent Successfully</h1>
    <p><strong>Subject:</strong> {{ subject }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    <p><strong>From:</strong> {{ from_email }}</p>
    <p><strong>To:</strong> {{ recipient_list|join:", " }}</p>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
</head>
<body>
    <h1>Email Sent Successfully</h1>
    <p><strong>Subject:</strong> {{ subject }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    <p><strong>From:</strong> {{ from_email }}</p>
    <p><strong>To:</strong> {{ recipient_list|join:", " }}</p>

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %} 
        <input type="text" name="name" placeholder="name">

        <input type="text" name="contact" placeholder="number">

        <input type="submit" value="submit">
    </form>
</body>
</html>