{% extends 'base.html' %}
{% block content %}
    <!-- Breadcrumb -->
    <section class="section-breadcrumb">
        <div class="cr-breadcrumb-image">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cr-breadcrumb-title">
                            <h2>Product</h2>
                            <span><a href="/freshWeb/indexWeb">Home</a> - product</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product -->
    <section class="section-product padding-t-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 md-30" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                    <div  class="row mb-minus-24">
                        <!-- <div class="row mb-minus-24"> -->
                            <div class="col-md-6 col-12 mb-24">
                                <div class="vehicle-detail-banner banner-content clearfix">
                                    <div class="banner-slider">
                                        <div class="slider slider-for">
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="../media/{{proShow.photoM}}" alt="product-tab-1"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <!-- <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/10.jpg" alt="product-tab-2"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/11.jpg" alt="product-tab-3"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/12.jpg" alt="product-tab-1"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/13.jpg" alt="product-tab-2"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/14.jpg" alt="product-tab-3"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/15.jpg" alt="product-tab-1"
                                                        class="product-image">
                                                </div>
                                            </div>
                                            <div class="slider-banner-image">
                                                <div class="zoom-image-hover">
                                                    <img src="/static/assets/img/product/16.jpg" alt="product-tab-2"
                                                        class="product-image">
                                                </div>
                                            </div> -->
                                        </div>
                                        <!-- <div class="slider slider-nav thumb-image">
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/9.jpg" alt="product-tab-1">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/10.jpg" alt="product-tab-2">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/11.jpg" alt="product-tab-3">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/12.jpg" alt="product-tab-1">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/13.jpg" alt="product-tab-2">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="assets/img/product/14.jpg" alt="product-tab-3">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/15.jpg" alt="product-tab-1">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="/static/assets/img/product/16.jpg" alt="product-tab-2">
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mb-24">
                                <div class="cr-size-and-weight-contain">
                                    <h2 class="heading">{{proShow.name}}</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, iure minus error
                                        doloribus saepe natus?</p>
                                </div>
                                <div class="cr-size-and-weight">
                                    <div class="cr-review-star">
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                        <p>( 75 Review )</p>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li><label>Packing Type <span>:</span></label>{{proShow.packtype}}</li>
                                            <li><label>Size<span>:</span></label>{{proShow.size}}ml</li>
                                            <li><label>Category<span>:</span></label>{{proShow.productCat}}</li>

                                        </ul>
                                    </div>
                                    <div class="cr-product-price">
                                        <span class="new-price">Rs{{proShow.price}}</span>
                                        <span class="old-price">$123.25</span>
                                    </div>
                                    <div class="cr-add-card">
                                        <div class="cr-add-button">
                                            {% if request.session.username %}
                                                <form action="../cart/{{ proShow.id }}/{{ email }}/" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="cr-button cr-shopping-bag">Add to Cart</button>
                                                </form>
                                            {%else%}
                                                <a href="/freshWeb/login" class="cr-button cr-shopping-bag">
                                                    <i class="ri-shopping-cart-line"></i>&nbsp;
                                                    <span>Cart</span>
                                                </a>
                                            {%endif%}
                                        </div>
                                        <div class="cr-card-icon">
                                            {% if request.session.username %}                                       
                                                <a href="/freshWeb/wishlist" class="wishlist">
                                                    <i class="ri-heart-line"></i>
                                                </a>
                                            {%else%}
                                                <a href="/freshWeb/login" class="wishlist">
                                                    <i class="ri-heart-3-line"></i>
                                                </a>
                                            {%endif%}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                        </div>
                    <div class="cr-paking-delivery">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                    aria-selected="true">Description</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="additional-tab" data-bs-toggle="tab"
                                    data-bs-target="#additional" type="button" role="tab" aria-controls="additional"
                                    aria-selected="false">Information</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab" aria-controls="review"
                                    aria-selected="false">Review</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                aria-labelledby="description-tab">
                                <div class="cr-tab-content">
                                    <div class="cr-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                            sapiente odio, error dolore vero temporibus consequatur, nobis veniam odit
                                            dignissimos consectetur quae in perferendis
                                            doloribusdebitis corporis, eaque dicta, repellat amet, illum adipisci vel
                                            perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                            ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                            laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                    </div>
                                    <h4 class="heading">Packaging & Delivery</h4>
                                    <div class="cr-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                            perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                            ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                            laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                                <div class="cr-tab-content">
                                    <div class="cr-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                            sapiente
                                            doloribus debitis corporis, eaque dicta, repellat amet, illum adipisci vel
                                            perferendis dolor! Quis vel consequuntur repellat distinctio rem. Corrupti
                                            ratione alias odio, error dolore temporibus consequatur, nobis veniam odit
                                            laborum dignissimos consectetur quae vero in perferendis provident quis.</p>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li><label>Brand <span>:</span></label>ESTA BETTERU CO</li>
                                            <li><label>Flavour <span>:</span></label>Super Saver Pack</li>
                                            <li><label>Diet Type <span>:</span></label>Vegetarian</li>
                                            <li><label>Weight <span>:</span></label>200 Grams</li>
                                            <li><label>Speciality <span>:</span></label>Gluten Free, Sugar Free</li>
                                            <li><label>Info <span>:</span></label>Egg Free, Allergen-Free</li>
                                            <li><label>Items <span>:</span></label>1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="cr-tab-content-from">
                                    <div class="post">
                                        <div class="content">
                                            <img src="/static/assets/img/review/1.jpg" alt="review">
                                            <div class="details">
                                                <span class="date">Jan 08, 2024</span>
                                                <span class="name">Oreo Noman</span>
                                            </div>
                                            <div class="cr-t-review-rating">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                            sapiente doloribus debitis corporis, eaque dicta, repellat amet, illum
                                            adipisci vel
                                            perferendis dolor! quae vero in perferendis provident quis.</p>
                                        <div class="content mt-30">
                                            <img src="/static/assets/img/review/2.jpg" alt="review">
                                            <div class="details">
                                                <span class="date">Mar 22, 2024</span>
                                                <span class="name">Lina Wilson</span>
                                            </div>
                                            <div class="cr-t-review-rating">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-line"></i>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in vero
                                            sapiente doloribus debitis corporis, eaque dicta, repellat amet, illum
                                            adipisci vel
                                            perferendis dolor! quae vero in perferendis provident quis.</p>
                                    </div>

                                    <h4 class="heading">Add a Review</h4>
                                    <form action="javascript:void(0)">
                                        <div class="cr-ratting-star">
                                            <span>Your rating :</span>
                                            <div class="cr-t-review-rating">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-line"></i>
                                                <i class="ri-star-s-line"></i>
                                                <i class="ri-star-s-line"></i>
                                            </div>
                                        </div>
                                        <div class="cr-ratting-input">
                                            <input name="your-name" placeholder="Name" type="text">
                                        </div>
                                        <div class="cr-ratting-input">
                                            <input name="your-email" placeholder="Email*" type="email" required="">
                                        </div>
                                        <div class="cr-ratting-input form-submit">
                                            <textarea name="your-commemt" placeholder="Enter Your Comment"></textarea>
                                            <button class="cr-button" type="submit" value="Submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular products -->
    <section class="section-popular-products padding-tb-100" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>

  {%endblock%}