{% extends 'bases.html' %}
{% block content %}
    <!-- main content -->
    <div class="cr-main-content">
        <div class="container-fluid">
            <!-- Page title & breadcrumb -->
            <div class="cr-page-title cr-page-title-2">
                <div class="cr-breadcrumb">
                    <h5>Add Inventory</h5>
                    <ul>
                        <li><a href="../freshAdmin/indexAdmin">Fresh Garden</a></li>
                        <li>Add Product in Inventory</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div class="col-md-12">
                        <div class="cr-card card-default">
                            <div class="cr-card-content">
                                <div class="row cr-product-uploads">
                                    <div class="col-lg-4 mb-991">
                                        <div class="cr-vendor-img-upload">
                                            <div class="cr-vendor-main-img">
                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        <input type='file' id="product_main" class="cr-image-upload"
                                                            accept=".png, .jpg, .jpeg" name="photoM">
                                                        <label><i class="ri-pencil-line"></i></label>
                                                    </div>
                                                    <div class="avatar-preview cr-preview">
                                                        <div class="imagePreview cr-div-preview">
                                                            <img class="cr-image-preview"
                                                                src="/static/files/assets/img/product/preview.jpg" id="image_preview"
                                                                alt="edit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="cr-vendor-upload-detail">
                                            <form class="row g-3">
                                                <div class="col-md-6">
                                                    <label for="name" class="form-label">Product name</label>
                                                    <select class="form-control form-select" name="name" id="product_name_select">
                                                        {% for var in product %}
                                                            <option value="{{ var.name }}">{{ var.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label" for="offer">Offer</label>
                                                    <div class="col-12">
                                                        <input name="offer" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="purchased" class="col-12 col-form-label">Purchased</label> 
                                                    <div class="col-12">
                                                        <input name="purchase" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="col-12 col-form-label" for="stock">Stock</label>
                                                    <input name="stock" class="form-control here set-slug" type="text">
                                                </div>
                                                <div class="col-md-6 mb-25">
                                                    <label class="form-label">Status</label>
                                                    <div class="col-12">
                                                        <select class="form-control form-select" name="status">
                                                            <option value="active">Active</option>
                                                            <option value="inactive">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-25">
                                                    <label class="form-label">Date</label>
                                                    <input name="date" class="form-control here set-slug" type="date">
                                                </div>
                                                <div class="col-md-12 mt-5">
                                                    <input type="submit" class="btn cr-btn-primary" value="Submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Parse the product data JSON string
        var products = JSON.parse('{{ products|safe }}');
        
        // Get references to the select and image preview elements
        var productSelect = document.getElementById('product_name_select');
        var imagePreview = document.getElementById('image_preview');
        // var imagepath = document.getElementById('imagepath');
        // Add event listener to detect changes in the selected product
        productSelect.addEventListener('change', function() {
            // Retrieve the selected product name
            var selectedProductName = this.value;

            // Find the selected product in the products array
            var selectedProduct = products.find(function(product) {
                return product.name === selectedProductName;
            });

            // If the selected product is found, update the image preview
            if (selectedProduct && selectedProduct.image_url) {
                var imagePath = selectedProduct.image_url;
                imagePreview.src = '.'+selectedProduct.image_url;
                // var specificPath = imagePath.substring(imagePath.lastIndexOf('/') + 1);
                var lastIndex = imagePath.lastIndexOf('/');
                // Find the index of the second last occurrence of "/"
                var secondLastIndex = imagePath.lastIndexOf('/', lastIndex - 1);
                // Extract the substring from the second last "/" to the end of the string
                var specificPath = imagePath.substring(secondLastIndex + 1);
                // alert(specificPath)
                var fileInput = document.getElementById('product_main');
                // Create a new File object with the path
                var file = new File([specificPath], specificPath, { type: 'image/jpeg' });
                // Create a new FileList object containing the File object
                var filesList = new DataTransfer();
                filesList.items.add(file);
                // document.getElementById('product_main').value = specificPath;
            } else {
                // Handle the case where the selected product is not found
                alert("Image not found for selected product");
            }
        });
    </script>
{% endblock %}
