{% extends 'bases.html' %}
{% block content %}
		<!-- main content -->
		<div class="cr-main-content">
			<div class="container-fluid">
				<!-- Page title & breadcrumb -->
				<div class="cr-page-title cr-page-title-2">
					<div class="cr-breadcrumb">
						<h5>Accordions</h5>
						<ul>
							<li><a href="../freshAdmin/indexAdmin">Fresh Garden</a></li>
							<li><a href="../freshAdmin/indexAdmin">CRM</a></li>
							<li>Accordions</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6">
						<div class="cr-card">
							<div class="cr-card-header">
								<h4 class="cr-card-title">Basic</h4>
							</div>
							<div class="cr-card-content label-card">
								<div class="accordion" id="accordionthree">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingseven">
											<button class="accordion-button" type="button" data-bs-toggle="collapse"
												data-bs-target="#collapseseven" aria-expanded="true"
												aria-controls="collapseseven">
												Project upload guidelines.
											</button>
										</h2>
										<div id="collapseseven" class="accordion-collapse collapse show"
											aria-labelledby="headingseven" data-bs-parent="#accordionthree">
											<div class="accordion-body">
												<strong>This is the first item's accordion body.</strong> It is shown by
												default, until the collapse plugin adds the appropriate classes that we
												use to style each element. These classes control the overall appearance,
												as well as the showing and hiding via CSS transitions. You can modify
												any of this with custom CSS or overriding our default variables. It's
												also worth noting that just about any HTML can go within the
												<code>.accordion-body</code>, though the transition does limit overflow.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingeight">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseeight"
												aria-expanded="false" aria-controls="collapseeight">
												How to get downloaded images?
											</button>
										</h2>
										<div id="collapseeight" class="accordion-collapse collapse"
											aria-labelledby="headingeight" data-bs-parent="#accordionthree">
											<div class="accordion-body">
												<strong>This is the second item's accordion body.</strong> It is hidden
												by default, until the collapse plugin adds the appropriate classes that
												we use to style each element. These classes control the overall
												appearance, as well as the showing and hiding via CSS transitions. You
												can modify any of this with custom CSS or overriding our default
												variables. It's also worth noting that just about any HTML can go within
												the <code>.accordion-body</code>, though the transition does limit
												overflow.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingnine">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapsenine"
												aria-expanded="false" aria-controls="collapsenine">
												What is Scientific Data, and why has it been launched?
											</button>
										</h2>
										<div id="collapsenine" class="accordion-collapse collapse"
											aria-labelledby="headingnine" data-bs-parent="#accordionnine">
											<div class="accordion-body">
												<strong>This is the third item's accordion body.</strong> It is hidden
												by default, until the collapse plugin adds the appropriate classes that
												we use to style each element. These classes control the overall
												appearance, as well as the showing and hiding via CSS transitions. You
												can modify any of this with custom CSS or overriding our default
												variables. It's also worth noting that just about any HTML can go within
												the <code>.accordion-body</code>, though the transition does limit
												overflow.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="cr-card">
							<div class="cr-card-header">
								<h4 class="cr-card-title">Importent</h4>
							</div>
							<div class="cr-card-content label-card">
								<div class="accordion" id="accordionfour">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingten">
											<button class="accordion-button color-primary" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseten"
												aria-expanded="true" aria-controls="collapseten">
												What fields does Scientific Data cover?
											</button>
										</h2>
										<div id="collapseten" class="accordion-collapse color-primary collapse show"
											aria-labelledby="headingten" data-bs-parent="#accordionfour">
											<div class="accordion-body">
												<strong>This is the first item's accordion body.</strong> It is shown by
												default, until the collapse plugin adds the appropriate classes that we
												use to style each element. These classes control the overall appearance,
												as well as the showing and hiding via CSS transitions. You can modify
												any of this with custom CSS or overriding our default variables. It's
												also worth noting that just about any HTML can go within the
												<code>.accordion-body</code>, though the transition does limit overflow.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingeleven">
											<button class="accordion-button color-primary collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseeleven"
												aria-expanded="false" aria-controls="collapseeleven">
												What does the article-processing charge cover?
											</button>
										</h2>
										<div id="collapseeleven" class="accordion-collapse color-primary collapse"
											aria-labelledby="headingeleven" data-bs-parent="#accordionfour">
											<div class="accordion-body">
												<strong>This is the second item's accordion body.</strong> It is hidden
												by default, until the collapse plugin adds the appropriate classes that
												we use to style each element. These classes control the overall
												appearance, as well as the showing and hiding via CSS transitions. You
												can modify any of this with custom CSS or overriding our default
												variables. It's also worth noting that just about any HTML can go within
												the <code>.accordion-body</code>, though the transition does limit
												overflow.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingtwelve">
											<button class="accordion-button color-primary collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapsetwelve"
												aria-expanded="false" aria-controls="collapsetwelve">
												Does Scientific Data offer APC waivers?
											</button>
										</h2>
										<div id="collapsetwelve" class="accordion-collapse color-primary collapse"
											aria-labelledby="headingtwelve" data-bs-parent="#accordionfour">
											<div class="accordion-body">
												<strong>This is the third item's accordion body.</strong> It is hidden
												by default, until the collapse plugin adds the appropriate classes that
												we use to style each element. These classes control the overall
												appearance, as well as the showing and hiding via CSS transitions. You
												can modify any of this with custom CSS or overriding our default
												variables. It's also worth noting that just about any HTML can go within
												the <code>.accordion-body</code>, though the transition does limit
												overflow.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{%endblock%}