{% extends 'bases1.html' %}
{% block content %}

<body>
	<main class="wrapper sb-default">
		<section class="auth-section anim">
			<div class="cr-login-page">
				<div class="container-fluid no-gutters">
					<div class="row">
						<div class="offset-lg-6 col-lg-6">
							<div class="content-detail">
								<div class="main-info">
									<div class="hero-container">
										<!-- Login form -->
										<form class="login-form" method="post">
											<div class="imgcontainer">
												<a href="index.html"><img src="assets/img/logo/full-logo.png" alt="logo" class="logo"></a>
											</div>
											<div class="input-control">
												<input type="text" placeholder="Enter Password" name="uname"
													required>
												<span class="password-field-show">
													<input type="password" placeholder="Confirm Password"
														name="password" class="password-field" value="" required>
													<span data-toggle=".password-field"
														class="fa fa-fw fa-eye field-icon toggle-password"></span>
												</span>
												<label class="label-container">Remember me
													<input type="checkbox">
													<span class="checkmark"></span>
												</label>
												<div class="login-btns">
													<button type="submit">Reset Password</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{%endblock%}